<article class="<%= post.layout %>">
  <header>
    <% if (post.layout != 'page'){ %>
      <div class="icon"></div>
      <%- partial('post/date', { date_format: config.date_format }) %>
    <% } %>
    <%- partial('post/title') %>
  </header>
  <% if (post.photos && post.photos.length > 0){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="entry">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
    <% } else { %>
    转载请附带原文地址:<a href="<%- config.root %><%- post.path %>"><%- post.permalink %></a>
      <%- post.content %>
    <% } %>
  </div>
  <footer<% if (index) { %> class="end-sep"<% } %>>
    <% if (index){ %>
      <% if (post.excerpt){ %>
        <div class="alignleft">
          <a href="<%- config.root %><%- post.path %>#more" class="more-link"><%= __('excerpt_title') %></a>
        </div>
      <% } %>
      <% if (post.comment && config.disqus_shortname){ %>
      <div class="alignright">
        <a href="<%- post.permalink %>#disqus_thread" class="comment-link">Comments</a>
      </div>
      <% } %>
    <% } else { %>
          <div style="padding: 10px 0; margin: 20px auto; text-align: center;">
              <div><%- (theme.reward_comment) -%></div>
              <button  style="margin-top:10px;display:inline-block;text-align:center;width:80px;height:35px;border-radius:5px;color:#fff;font-weight:400;font-style:normal;font-variant:normal;font-stretch:normal;font-size:18px;font-family:'Microsoft Yahei';font:inherit;background:#f44336;border:none" id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
                  <span>赏</span>
              </button>
              <div id="QR" style="display: none;margin-top:10px;">
                      <div id="wechat" style="display: inline-block;">
                          <img id="wechat_qr" style="width: 180px;max-width: 100%;display: inline-block;margin: 0.8em 2em 0 2em;" src="<%- (theme. weixin) -%>" alt="<%- (config.author) -%> WeChat Pay"/>
                          <p style="margin-top:10px;">微信打赏</p>
                      </div>
                      <div id="alipay" style="display: inline-block;">
                          <img id="alipay_qr"  style="width: 180px;max-width: 100%;display: inline-block;margin: 0.8em 2em 0 2em;" src="<%- (theme.alipay) -%>" alt="<%- (config.author) -%>  Alipay"/>
                          <p style="margin-top:10px;">支付宝打赏</p>
                      </div>

              </div>
         </div>

      <%- partial('post/category') %>
      <%- partial('post/tag') %>
    <% } %>
    <div class="clearfix">
    </div>
  </footer>
</article>

<%- partial('comment') %>
